<!-- <div *ngFor = "let locker of lockers">
<div>{{locker.location[2]}}</div>
</div> -->

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-custom-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HubLocker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find a Locker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" true>Size Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" true>Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" true>Help Center</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link" href="#" true>My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" true>0123-456-7890</a>
        </li>
      </ul>
      <button class="btn btn-outline-success btn-menu">PAY YOUR BILL</button>
    </div>
  </div>
</nav>
<div p-2>
  <div class="container-fluid hero">
    <h1>Find a Locker</h1>
    <div class="col-lg-6">
      <div class="input-group search__group mb-3">
        <input type="text" class="form-control search__input" placeholder="Enter City or State"
          aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary btn-search" style="background-color: #d75030;" type="button"
          id="button-addon2">
          <h4 class="btn-big-text">Find Locker</h4>
          <p class="btn-sm-text">some text here</p>
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid lockers-title">
    <div class="row">
      <div class="col-md-9">
        <p class="lockers-title-p">6 Open Lockers Available</p>
      </div>
      <div class="col-md-1">
        <p class="lockers-title-p text-right">Sort By </p>
      </div>
      <div class="col-md-2 select__form">
        <select class="form-select" aria-label="Default select form">
          <option selected>Closes</option>
          <option value="1">Lowest Price</option>
          <option value="2">Highest Price</option>
        </select>
      </div>
    </div>

  </div>
  <div class="text-right"><a href="#" class="size-guide">View the size guide</a></div>
  <div class="container-fluid lockers-items">
    <div class="row">
      <div class="col-lg-2">
        <img src="desk-593327_1920.jpeg" class="items-image" alt="">
        <a href="#" class="items-title-a">22A Adesola Odeku Street,VI,<br />Lagos</a><br />
        <span>⭐⭐⭐⭐⭐</span><br />
        <a href="#" class="items-title-a">0.3 Miles Away</a><br />
      </div>
      <div class="col-lg-10">
        <div class="col-lg-4">
          <select class="form-select select-items" aria-label="Default select form">
            <option selected>Featured</option>
            <option value="1">Small</option>
            <option value="2">Medium</option>
            <option value="2">Large</option>
          </select>
        </div>
        <div class="shadow-none p-3 mb-2 bg-light rounded">
          <div class="row">
            <div class="col-lg-2">
              <strong>Small H295* <br />
                W46*D520mm</strong>
            </div>
            <div class="col-lg-4">
              <strong>N450 per item/mo N15,000 XX no of orders<br />
                Online only price</strong>
            </div>
            <div class="col-lg-2">
              <strong>1N For First Rent</strong>
            </div>
            <div class="col-lg-2">
              <strong>2 Available</strong>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-success">Rent Now</button>
            </div>
          </div>
        </div>
        <div class="shadow-none p-3 mb-2 bg-light rounded">
          <div class="row">
            <div class="col-lg-2">
              <strong>Small H295* <br />
                W46*D520mm</strong>
            </div>
            <div class="col-lg-4">
              <strong>N450 per item/mo N15,000 XX no of orders<br />
                Online only price</strong>
            </div>
            <div class="col-lg-2">
              <strong>1N For First Rent</strong>
            </div>
            <div class="col-lg-2">
              <strong>2 Available</strong>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-success">Rent Now</button>
            </div>
          </div>
        </div>
        <div class="shadow-none p-3 mb-5 bg-light rounded">
          <div class="row">
            <div class="col-lg-2">
              <strong>Small H295* <br />
                W46*D520mm</strong>
            </div>
            <div class="col-lg-4">
              <strong>N450 per item/mo N15,000 XX no of orders<br />
                Online only price</strong>
            </div>
            <div class="col-lg-2">
              <strong>1N For First Rent</strong>
            </div>
            <div class="col-lg-2">
              <strong>2 Available</strong>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-success">Rent Now</button>
            </div>
          </div>
        </div>
        <a href="#" class="items-title-a"><span class="star">⭐ </span> View all lockers at this location</a>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->